.big-button {
  background-color: $plum;
  border: none;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $xl-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
 opacity: .5;
}

.button {
  background: $plum;
  border: none;
  border-bottom: .3rem solid darken($plum, 10%);
  color:white;
  font-weight: 500;
  padding:$s-size;
}

.button--link {
  background:none;
  border: none;
  color: $off-white;
  padding: 0;
}